header.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  background-color: #F3F3F3;
  height: 10vh;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  object-fit: contain;
}

.title {
  margin: 0;
  font-size: 1.5rem;
  flex-grow: 1;
  text-align: center;
}

.social-icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.social-icons a {
  color: black;
}