.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    background-color: #F3F3F3;
    /* Adjust this to the desired height */
}

p {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.buttons {
    margin-top: 1rem;
    justify-content: center;
}

button {
    font-size: 1.5rem;
    padding: 1rem 2rem;
    background-color: #9945FF;
    color: #F3F3F3;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: 600;
}